
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div_slide {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;

}


